$primary-brown: #795548;
$primary-error: #cc0000;
$primary-white: rgba(255, 255, 255, 0.8);
body, html, #app {
  height: 100%;
  margin:0px;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.8);;
}
h1, h2, h3 {
  color: $primary-brown;
}
body{
  background: url('../images/background.jpeg');
  background-repeat: no-repeat;
  background-size:  auto;
}
.container{
  height:100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.full-width{
  width: 100%;
}
.align-content-left{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.align-content-center{
  display: flex;
  align-items: center;
  justify-content: center;
}
.align-content-right{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.light-background{
  background: white;
  opacity: 0.9;
}

.medium-background{
  background: white;
  opacity: 0.95;
}

.padding-top-large{
  padding-top: 20px;
}
.padding-bottom-large{
  padding-bottom: 20px;
}
.padding-large{
  padding:20px;
}
.padding-top-bottom-super-large{
  padding-top:50px;
  padding-bottom: 70px;
}
.padding-left-right-large{
  padding-left:20px;
  padding-right:20px;
}
.margin-large{
  margin:20px;
}
.margin-top-large{
  margin-top:20px;
}
.margin-top-bottom-large{
  margin-top:20px;
  margin-bottom:20px;
}
.margin-left-right-small{
  margin-left:5px;
  margin-right:5px;
}
.padding-medium{
  padding:10px;
}
.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-col{
  flex:1;
  margin-left: 5px;
  margin-right: 5px;
}

.inlineH2 {
  margin-bottom: 0;
  margin-top: 30px
}

.menubar-position{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menubar-link{
  text-decoration: none;
  font-size: 12px;
  color: grey;
  opacity: 0.6;
  &:hover, &.active{
    color: $primary-brown;
    opacity: 0.95;
  }
}
.max-content-width{
  max-width: 1024px;
}

.transparent{
  background-color: rgba(0, 0, 0, 0.1);
  color: $primary-white
  h2{
    color: $primary-white
  }
}

.error-bar{
  background-color: $primary-error;
  height: 50px;
  color: $primary-white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-content{
  display: flex;
  justify-content: center;
}
//remove yellow background in chrome
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}