body, html, #app {
  height: 100%;
  margin:0px;
}
body{
  background: url('../images/background.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  height:100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-content-left{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.align-content-right{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.light-background{
  background: white;
  opacity: 0.9;
}

.large-padding{
  padding:20px;
}

//remove yellow background in chrome
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}